<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
      <!--  Meta  -->
  <meta charset="UTF-8" />
  <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
      integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
      crossorigin="anonymous"
    />
  <link rel="stylesheet" href="{{url_for('static',filename = 'css/dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename = 'css/listproducts.css')}}">

    <!--  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
          <nav
            class="navbar navbar-expand-lg navbar-dark bg-mattBlackLight fixed-top"
          >
            <button class="navbar-toggler sideMenuToggler" type="button">
              <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="#">Dashboard</a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <span class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a href="{{ url_for('home') }}" class="nav-link px-4">
                      <span class="text">Home</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{{ url_for('logout') }}" class="nav-link px-4">
                      <span class="text">Logout</span>
                    </a>
                  </li>
              </ul>
            </span>
            </div>
          </nav>
    </div>
    <div class = "row">
      <div class = "col-xl-3 col-lg-4 col-md-12">
      <div class="wrapper d-flex ">
        <div class="sideMenu bg-mattBlackLight">
          <div class="sidebar">
            <ul class="navbar-nav">

              <li class="nav-item">
                <a href="/products" class="nav-link px-2">
                  <i class="material-icons icon">
                    person
                  </i>
                  <span class="text">{{username}}</span>
                </a>
              </li>
             <li class="nav-item">
                <a href="#" class="nav-link px-2">
                  <i class="material-icons icon">
                    email
                  </i>
                  <span class="text">{{email1}}</span>
                </a>
              </li>

              <li class="nav-item">
                <a href="#" class="nav-link px-2">
                  <i class="material-icons icon">
                    settings
                  </i>
                  <span class="text">Profile</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link px-2">
                  <i class="material-icons icon">
                    pages
                  </i>
                  <span class="text">Carts</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link px-2 sideMenuToggler">
                  <i class="material-icons icon expandView ">
                    view_list
                  </i>
                  <span class="text">Resize</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
      <div class = "col-xl-9 col-lg-8 col-md-12 ">
        <div class="productlist">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>`
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Scripts -->
    <script src="{{url_for('static',filename = 'js/dashboard.js')}}"></script>
    <script src="{{url_for('static',filename = 'js/listproducts.js')}}"></script>
 </body>
</html>
